@charset "UTF-8";


body{
    margin: 0;
}
    
.container{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        min-height: 100vh;
       
    }

.esquerda, .direita{
        width: 100%;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

@media (min-width: 768px) {
        .esquerda, .direita {
          width: 50%;
        }
      }

.esquerda{
        display: flex;
        align-items: flex-end;
        justify-content: end;
        height: 100%;
}

@media (max-width: 768px) {
        .esquerda {
          display: none; /* Oculta a div quando a largura da tela for 768 pixels ou menor */
        }
      }


.direita{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 100%;
              
    }

    

form input{
    border: 1px solid #DBDBDB;
    padding: 8px;
    margin: 5px;
    width: 267px;
    height: 16px;
    position: center;
}

form button{
    background-color: #4CB5F9;
    color: white;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
    padding: 8px 16px 8px 16px;
    width: 290px;
}

#foto{
    max-width: 600px;
    max-height: 600px;
}

#logo{
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    transform: translate(-6px, -15px);
}

#quadrado1, #quadrado2{
    border: 1px solid #DBDBDB;
    
}

#quadrado1{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 40px;
    padding-bottom: -50px;
}

.instagram-section {
    display: flex;
    align-items: center;
    padding: 10px 0px 5px 20px;
  }
  
.divider-line {
    width: 100px;
    height: 1px;
    background-color: #ccc;
  }
  
.or-text {
    padding: 0 20px;
    font-size: 18px;
    color: gray;
  }
  
#quadrado2{
    display: block;
    margin: auto;
    margin: 10px;
    width: 379px;
    height: 61px;
    text-align: center;
    padding-top: 5px;
}

#quadrado3{
    display: block;
}

#botao1, #botao2{
    margin: 5px;
}

.botao{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10%;
}

.texto{
    display: block;
    width: 100%;
    margin-left: 10%;
}